@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: white;
}
.container{
  max-width: 700px;
  width: 100%;
  height: 400px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 50px;
  border: 1px solid rgb(190, 188, 188);
  
}
.container .back-link{
    text-decoration: none; 
    color: black;
    font-size: 15px;
    margin-top: 5px;
    color:#F25D9C;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.container .logo {
    display: flex;
    align-items: center; 
    font-size: 12px;
}
.container .logo p{
    margin-left: 10px;
    color: black;
    font-weight: 500;
    font-size: 15px;
    margin-top: 20px;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-top: -5px;
  color: #F25D9C;
}
.container .direct {
    display: flex;
    align-items: center; 
    font-size: 12px;
    justify-content: center; 
    margin-top: 5px;
    color: gray;
}
.container .direct p {
    margin-left: 10px; 
    margin-top: 12px;
} 
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
/* .content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
} */
form .user-details .input-box{
  margin-bottom: 15px;
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 35px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 50px;
  padding-left: 15px;
  border: 1px solid #e1e1e1;
  border-radius: 50px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #F25D9C;
}
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .button{
   height: 45px;
   margin: 35px 0;
 
 }
 form .button input{
   height: 100%;
   width: 70%;
   border-radius: 50px;
   display: block; 
   margin: auto; 
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   margin-top: -20px;
   cursor: pointer;
   background: #F25D9C;
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: #F25D9C;
  
  }

 form .button a{
   height: 100%;
   width: 70%;
   border-radius: 15px;
   display: block; 
   margin: auto; 
   border: none;
   color: #F25D9C;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   margin-top: -20px;
   cursor: pointer;
   text-align: center;
 }
 
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}